@extends("shared/layout.html")
@require(reports, page)
@def title():
Admin |\
@end

@def sidebar():
  @include('shared/sidebar/admin.html')
@end

@def main():
<div id="container">
  <div id="center-container">
    <div class="content">
      <h1>@{_('Admin Reports')}</h1>
      <p class="helper-text">@{_('Includes reports for all subs except reports of sub-specific rules.')}</p>

      <div class="admin section users">
        <div class="col-12">
          @{_('Total Open Reports:')} @reports['open_report_count']  |  @{_('Total Closed Reports:')} @reports['closed_report_count']
          <table class="pure-table">
            <thead>
              <tr>
                <th>@{_('Sub')}</th>
                <th>@{_('Type')}</th>
                <th>@{_('Reporter')}</th>
                <th>@{_('Reason')}</th>
                <th>@{_('User reported')}</th>
                <th>@{_('Time')}</th>
                <th>@{_('Status')}</th>
              </tr>
            </thead>
            <tbody>
            @for report in reports['query']:
            <tr>
              <td><div class="sub"><a href="@{ url_for('sub.view_sub', sub=report['sub']) }">@{ report['sub'] }</a></div></td>
              <td>
                @if report['type'] == 'comment':
                  <a href="@{url_for('sub.view_perm', sub=report['sub'], cid=report['cid'], pid=report['pid'])}">@{_('Comment')}</a>
                @else:
                <a href="@{url_for('sub.view_post', sub=report['sub'], pid=report['pid'])}">@{_('Post')}</a>
                @end
              </td>
              <td><div class="username"><a href="@{ url_for('user.view', user=report['reporter']) }">@{ report['reporter'] }</a></div></td>
              <td>@{report['reason']}</td>
              <td><div class="username"><a href="@{ url_for('user.view', user=report['reported']) }">@{ report['reported'] }</a></div></td>
              <td><time-ago datetime="@{report['datetime'].isoformat()}Z"></time-ago></td>
              @if report['open'] == True:
                <td>@{_('Open')} <a data-type="@{report['type']}" data-id="@{report['id']}" data-action="close" class="close-report">@{_('[x]')}</a></td>
              @else:
                <td>@{_('Closed')}<a data-type="@{report['type']}" data-id="@{report['id']}" data-action="reopen" class="close-report">@{_(' [reopen]')}</a></td>
              @end
            </tr>
            @end
            </tbody>
          </table>
        </div>
      </div>
      @if page > 1:
        <a href="@{url_for('admin.reports', page=(page-1))}" class="pure-button">@{_('Previous page')}</a>
      @end
      @if len(reports['query']) == 50:
        <a href="@{url_for('admin.reports', page=(page+1))}" class="pure-button">@{_('Next page')}</a>
      @end
    </div>
  </div>
</div>
@end
