@extends("shared/layout.html")
@require(license)

@def main():
    <div id="container">
        <h1>@{config.site.lema}</h1>

        <p>@{_('This website is powered by <a href="https://github.com/Phuks-co/throat">Throat</a>, released under the MIT license.')}</p>
        <p><pre>@{license}</pre></p>
        
    </div>
@end