@extends("shared/layout.html")
@require(logs, page)

@def content():
<div id="center-container">
    <div class="content">
        <h1>Site logs</h1>
        <table class="pure-table">
            <thead>
            <tr>
                <th>Time</th>
                <th>User</th>
                <th>Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @for log in logs:
            <tr>
                <td>
                    <time-ago datetime="@{log.time.isoformat()}Z">@{log.time.isoformat()}</time-ago>
                </td>
                <td>
                    @if log.uid:
                        @if log.uid.status != 10:
                            <a href="/u/@{log.uid.name}">@{log.uid.name}</a>\
                        @else:
                            @{_('[Deleted]')}
                        @end
                    @end
                </td>
                <td>
                    @if log.action == 19:
                        Banned <a href="/u/@{log.desc}">@{log.desc}</a>
                    @elif log.action == 20:
                        Created a sub
                    @elif log.action == 30:
                        Sub was transferred to @{log.desc}
                    @elif log.action == 24:
                        Sent mod invite to <a href="/u/@{log.target.name}">@{log.target.name}</a>
                    @elif log.action == 26:
                        Removed <a href="/u/@{log.target.name}">@{log.target.name}</a> from the mod team
                    @elif log.action == 27:
                        Revoked mod invite for <a href="/u/@{log.target.name}">@{log.target.name}</a>
                    @elif log.action == 52:
                        Deleted a post with reason <code>@{log.desc}</code>
                    @elif log.action == 53:
                        Deleted a comment with reason <code>@{log.desc}</code>
                    @elif log.action == 40:
                        Created a sub
                    @elif log.action == 41:
                        Created an announcement
                    @elif log.action == 42:
                        Banned domain <code>@{log.desc}</code>
                    @elif log.action == 43:
                        Unbanned domain <code>@{log.desc}</code>
                    @elif log.action == 44:
                        Removed an announcement
                    @elif log.action == 45:
                        Disabled post creation
                    @elif log.action == 46:
                        Re-enabled post creation
                    @elif log.action == 47:
                        Disabled registration without invite code
                    @elif log.action == 48:
                        Re-enabled registration
                    @elif log.action == 49:
                        Disabled new user registration
                    @elif log.action == 50:
                        Re-enabled new user registration
                    @else:
                        <i>[Type @{log.action}]</i> @{log.desc}
                    @end
                </td>
                <td>
                    @if log.sub:
                        <a href="/s/@{log.sub}">/s/@{log.sub}</a> \
                    @end
                    @if log.link:
                        @if log.sub:
                            | \
                        @end
                        <a href="@{log.link}">Link</a>\
                    @end
                </td>
            </tr>
            @end
            </tbody>
        </table>
        @if page > 1:
        <a href="@{url_for('site.view_sitelog', page=(page-1))}" class="btn">prev</a>
        @end

        @if len(logs) == 50:
        <a href="@{url_for('site.view_sitelog', page=(page+1))}" class="btn">next</a>
        @end
    </div>
</div>
@end
