@require(subOfTheDay, changeLog)
<form class="pure-g search" action="@{ url_for('do.search') }" method="post">
  <div class="icon" data-icon="search"> </div>
  <input aria-label="Search" name="term" placeholder="Title search..." type="search" class="pure-u-1">
</form>

@if current_user.is_authenticated:
<a href="@{url_for('subs.submit', ptype='text', sub='')}" class="sbm-post pure-button">@{_('Submit a text post')}</a>
<a href="@{url_for('subs.submit', ptype='link', sub='')}" class="sbm-post pure-button">@{_('Submit a link post')}</a>
<hr>
<a href="@{url_for('home.view_subs')}" class="sbm-post pure-button">@{_('View all subs')}</a>
<a href="@{url_for('subs.random_sub')}" class="sbm-post pure-button">@{_('Go to random sub')}</a>
@end
@if config.site.sub_creation_admin_only == False or current_user.is_admin():
<a href="@{url_for('subs.create_sub')}" class="sbm-post pure-button">@{_('Create a sub')}</a>
@end
  @if func.getTodaysTopPosts():
  <hr>
  <div class="sidebarlists">
    <h4 class="center">@{_('Top posts in the last 24 hours')}</h4>
    <ul class="top5">
      @for post in func.getTodaysTopPosts():
        <li><a class="title" href="@{url_for('sub.view_post', sub=post['sub'], pid=post['pid'])}">@{post['title']}</a>
          <div class="sidelocale">
            <time-ago datetime="@{post['posted'].isoformat()}Z"></time-ago> in <a href="@{url_for('sub.view_sub', sub=post['sub'])}">/@{config.site.sub_prefix}/@{post['sub']}</a>
          </div></li>
      @end
    </ul>
  </div>
  @end

@if subOfTheDay:
  <hr>
  <div class="sidebarlists">
    <h4 class="center">@{_('Sub of the day')}</h4>
    <ul>
      <li><a href="@{url_for('sub.view_sub', sub=subOfTheDay.name)}">/@{config.site.sub_prefix}/@{subOfTheDay.name}</a>
        <div class="sidelocale">@{subOfTheDay.title}</div></li>
    </ul>
  </div>
@end
@if changeLog:
  <hr>
  <div class="sidebarlists">
    <ul>
      <li><a class="title" href="@{url_for('sub.view_post', sub=changeLog['sub'], pid=changeLog['pid'])}">@{changeLog['title']}</a><br>
      <span class="sidelocale">
        <time-ago datetime="@{changeLog['posted'].isoformat()}Z"></time-ago> in <a href="@{url_for('sub.view_sub', sub=changeLog['sub'])}">/@{config.site.sub_prefix}/@{changeLog['sub']}</a></li>
      </span>
    </ul>
  </div>
@end
<hr>
<a href="@{url_for('wiki.donate')}" class="sbm-post pure-button">@{_('Donate')}</a>
@if current_user.is_authenticated and (config.site.sitelog_public or current_user.can_admin):
<hr>
<a href="@{url_for('site.view_sitelog')}" class="sbm-post pure-button">@{_('Site logs')}</a>
@end
