@require(sub, subInfo, subMods)

<form class="pure-g search" action="@{ url_for('do.search') }" method="post">
  <div class="icon" data-icon="search"> </div>
  <input aria-label="Search" name="term" placeholder="@{_('Title search...')}" type="search" class="pure-u-1">
</form>

@if current_user.is_authenticated:
  @if subInfo.get('restricted', 0) == '1' and not (current_user.uid in (subMods['all'])):
    <div>@{_('Only mods can post.')}</div>
  @else:
    @if current_user.is_subban(sub):
      <div>@{_('You are currently banned from posting.')}</div>
    @else:
      <a href="@{url_for('subs.submit', ptype='text', sub=sub['name'])}" class="sbm-post pure-button">@{_('Submit a text post')}</a>
      <a href="@{url_for('subs.submit', ptype='link', sub=sub['name'])}" class="sbm-post pure-button">@{_('Submit a link post')}</a>
      @if subInfo.get('allow_polls', 0) == '1':
        <a href="@{url_for('subs.submit', ptype='poll', sub=sub['name'])}" class="sbm-post pure-button">@{_('Submit a poll')}</a>
      @end
    @endif
  @end
@end

@if subInfo['wiki'] != '':
  <a href="@{url_for('site.view_post_inbox', pid=subInfo['wiki'] )}" class="sbm-post pure-button">@{_('View wiki')}</a>
@endif

<div class="subinfo">
  <h3><a href="@{url_for('sub.view_sub', sub=sub['name'])}">/@{config.site.sub_prefix}/@{sub['name']}</a> \
  @if sub['nsfw']:
    <div class="nsfw" alt="@{_('Not safe for work')}">@{_('NSFW')}</div> \
  @end
  </h3>
</div>
<div class="subs">@{_('%(subs)i subscribers', subs=sub['subscribers'])}</div>

@if current_user.is_authenticated:
    <div role="group" class="pure-button-group" data-sid="@{sub['sid']}">
        @if current_user.has_subscribed(sub['name']):
            <button data-ac="unsubscribe" class="sub button-secondary pure-button button-xsmall pure-button-active"><span class="sbm-icon" data-icon="check"></span>@{_('Subscribed')}</button>
        @else:
            <button data-ac="subscribe" class="unsub button-secondary pure-button button-xsmall"><span class="sbm-icon" data-icon="add"></span>@{_('Subscribe')}</button>
        @end
        @if current_user.has_blocked(sub['sid']):
            <button data-ac="unblock" class="blk button-warning pure-button button-xsmall pure-button-active"><span class="sbm-icon" data-icon="check"></span>@{_('Blocked')}</button>
        @else:
            <button data-ac="block" class="unblk button-warning pure-button button-xsmall"><span class="sbm-icon" data-icon="close"></span>@{_('Block')}</button>
        @end
    </div>
@end
<hr>
@if sub['sidebar'] != '':
  @{func.our_markdown(sub['sidebar'])!!html}
  <hr>
@end

<div class="moderators">
  @{_('Moderators')}
  <ul>
  @for owner in subMods['owners']:
    <li><span title="@{_('Owner')}" class="i-icon" data-icon="owner"></span> <a href="@{url_for('user.view', user=subMods['owners'][owner])}">@{subMods['owners'][owner]}</a></li>
  @end
  @for mod in subMods['mods']:
    <li><a href="@{url_for('user.view', user=subMods['mods'][mod])}">@{subMods['mods'][mod]}</a></li>
  @end
  @for janitor in subMods['janitors']:
    <li><a href="@{url_for('user.view', user=subMods['janitors'][janitor])}">@{subMods['janitors'][janitor]}</a></li>
  @end
  </ul>
</div>
<div class="createdby">
  @{_('Created by <a href="/u/%(name)s">%(name)s</a>', name=subInfo['creator']['name'])!!html}
  <time-ago datetime="@{sub['creation'].isoformat()}Z"></time-ago>
</div>
@if current_user.uid:
  @if current_user.uid in (list(subMods['owners']) + list(subMods['mods'])) or current_user.is_admin():
    <a href="@{url_for('sub.edit_sub', sub=sub['name'])}" class="sbm-post pure-button">@{_('Settings')}</a>
    <a href="@{url_for('sub.edit_sub_flairs', sub=sub['name'])}" class="sbm-post pure-button">@{_('Edit flairs')}</a>
    <a href="@{url_for('sub.edit_sub_rules', sub=sub['name'])}" class="sbm-post pure-button">@{_('Edit rules')}</a>
    <a href="@{url_for('sub.edit_sub_css', sub=sub['name'])}" class="sbm-post pure-button">@{_('Edit stylesheet')}</a>
    <a href="@{url_for('mod.index')}" class="sbm-post pure-button">@{_('Mod Dashboard')}</a>
  @end
  @if current_user.uid in subMods['all'] or current_user.is_admin():
    <a href="@{url_for('sub.edit_sub_mods', sub=sub['name'])}" class="sbm-post pure-button">@{_('Moderators')}</a>
  @end
@end
<hr>

@if config.site.force_sublog_public or (subInfo.get('sublog_private', 0) != '1') or (current_user.uid in (subMods['all'])) or current_user.can_admin:
  <a href="@{url_for('sub.view_sublog', sub=sub['name'])}" class="sbm-post pure-button">@{_('Sub Log')}</a>
@end
<a href="@{url_for('sub.view_sub_bans', sub=sub['name'])}" class="sbm-post pure-button">@{_('Banned Users')}</a>
