@extends("shared/layout.html")
@import "shared/post.html" as ipost
@require(sub, posts, page, sort_type, subInfo)


@def title():
  @{sub['title']} |\
@end

@def sidebar():

<div id="sortbuttons" role="group" class="pure-button-group">
  <div class="pure-g">
    <a href="@{url_for('sub.view_sub_hot', sub=sub['name'])}" class="sbm-post pure-button button-xsmall @{(sort_type == 'sub.view_sub_hot') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('Hot')}</a>
    <a href="@{url_for('sub.view_sub_top', sub=sub['name'])}" class="sbm-post pure-button button-xsmall @{(sort_type == 'sub.view_sub_top') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('Top')}</a>
    <a href="@{url_for('sub.view_sub_new', sub=sub['name'])}" class="sbm-post pure-button button-xsmall @{(sort_type == 'sub.view_sub_new') and 'pure-button-primary' or ''} pure-u-md-7-24">@{_('New')}</a>
  </div>
</div>
@include('shared/sidebar/sub.html')
@end

@def main():

  @if func.getStickyPid:
    <div class="stickyposts">
      @for post in func.getStickies(sub['sid']):
        @{ipost.singlePost(post, sub)!!html}
      @end
    </div>
  @end
  @if not posts:
    <h1 class="noshit">@{_('There are no posts here, yet.')}</h1>
  @end
  <div class="alldaposts">
    @for post in posts:
      @if not post['pid'] in func.getStickyPid(sub['sid']):
        @{ipost.singlePost(post, sub)!!html}
      @end
    @end
  </div>
  @if page > 1:
    <a href="@{url_for(sort_type, sub=sub['name'], page=(page-1))}" class="pure-button">@{_('Previous page')}</a>
  @end
  @if len(posts) == 25:
  <a href="@{url_for(sort_type, sub=sub['name'], page=(page+1))}" class="pure-button">@{_('Next page')}</a>
  @end

@end

@def pagefoot():

  @if not current_user.block_styles():
    <style>@{subInfo['stylesheet']}</style>
  @end
@end
