@extends("shared/layout.html")
@require(lpform)
@def title():
  Password recovery |\
@end

@def main():
<div id="center-container">
  <div class="content">
    <form  method="POST" action="@{url_for('do.recovery')}" class="ajaxform pure-form pure-form-aligned">
      <h1>@{_('Password recovery')}</h1> @{ lpform.csrf_token() !!html}
      <fieldset>
        <div class="alert div-error"></div>
        <div class="pure-control-group">
          <label for="email">@{_('E-mail address')}</label>
          @{lpform.email(required=True)!!html}
        </div>
        <input type="hidden" name="ctok" value="@{lpform.cap_key}" />
        <div class="pure-controls">
          <img src="data:image/png;base64,@{lpform.cap_b64}" />
        </div>
        <div class="pure-control-group">
          <label for="captcha">@{_('Captcha')}</label>
          <input autocomplete="off" id="captcha" name="captcha" required="" type="text" value="">
        </div>
        <div class="pure-controls">
          <button type="submit" style="margin-top: 4%" class="pure-button pure-button-primary" data-success="@{_('mail sent!')}" data-prog="@{_('Processing...')}">@{_('Send recovery email')}</button>
        </div>

      </fieldset>
    </form>
  </div>
</div>
@end
