@extends("shared/layout.html")
@require(error, form, sub, captcha)


@def content():
<div id="center-container">
    <div class="content createpost">
        <form method="POST" id="post-form" data-redir="true" class="pure-form pure-form-aligned" enctype="multipart/form-data">
            @{ form.csrf_token() !!html}
            <h2>@{_('Submit a post')}</h2>

            <input type="submit" style="display:none"/>
            @if error:
            <div class="error">@{ error }</div>
            @end
            <fieldset>
                <div class="pure-control-group">
                    <span class="sub">
                        @{form.sub.label()!!html}
                        @{ form.sub(required=True, class_="sub_autocomplete", autocomplete="off", placeholder=_('Find a sub...')) !!html }
                    </span>
                </div>
                <div class="pure-control-group">
                    @{form.title.label()!!html}
                    @{ form.title(required=True) !!html}
                </div>

                <div style="padding-top: 1em; padding-bottom: 1em;">
                    @for kl in form.ptype:
                    <div class="pure-control-group">
                        @{kl(style="")!!html}
                        <label for="@{kl.id}" class="pure-radio" style="text-align: left; display: initial;">
                            @{kl.label.text}
                        </label>
                    </div>
                    @end
                </div>


                <div class="pure-control-group txcont" style="@{form.ptype.data != 'text' and 'display:none' or ''}">
                    @{form.content.label()!!html}
                    <div class="markdown-editor">
                        @{form.content(class_="exalert", placeholder=_('(Optional) Write your post content here. Styling with Markdown format is supported.'), rows="10", style="width: 100%")!!html}
                    </div>
                </div>

                <div class="pure-control-group pocont" style="@{form.ptype.data != 'poll' and 'display:none' or ''}">
                    <label for="op1" style="vertical-align: top; margin-top: 1em;">@{_('Options')}</label>
                    <div id="sbm-poll-opts">
                        <ol id="poll-opts">
                            @if len(form.options.data) != 0:
                                @for i,op in enumerate(form.options):
                                    <li>
                                        <input type="text" id="op1" name="@{op.name}" value="@{op.data}" @{form.ptype.data == 'poll' and 'required' or ''} class="reqpoll sbm-poll-opt fixed">
                                        @if i > 1:
                                        <a class="poll-del-opt" style="margin-left: 1em; cursor: pointer;">@{_('remove')}</a>
                                        @end
                                    </li>
                                @end
                            @else:
                            <li><input type="text" id="op1" name="options-0" @{form.ptype.data == 'poll' and 'required' or ''} class="reqpoll sbm-poll-opt fixed"></li>
                            <li><input type="text" name="options-1" @{form.ptype.data == 'poll' and 'required' or ''} class="reqpoll sbm-poll-opt fixed"></li>
                            @end
                        </ol>
                        <button id="poll-addoption" type="button" class="pure-button" style="margin-top: 1em">
                            @{_('Add option')}
                        </button>
                    </div>
                </div>

                <div class="pure-control-group ulcont pure-u-sm-20-24"
                     style="@{form.ptype.data != 'upload' and 'display:none' or ''}">
                    @if current_user.canupload:
                    <label for="files">@{_('File')}</label>
                    <input type="file" name="files" @{form.ptype.data == 'upload' and 'required' or ''} class="requpload"
                           data-max="@{ config.app.max_content_length }" placeholder="@{_('Upload a file!')}"/>
                    @end
                </div>

                <div class="pure-control-group lnicont pure-u-sm-20-24"
                     style="@{form.ptype.data != 'link' and 'display:none' or ''}">
                    <label for="link">@{_('Link')}</label>
                    @{form.link(class_="reqlink", type="url", pattern="https?://.+", required=form.ptype.data == 'link', placeholder=_('URL'))!!html}
                </div>

                <div class="pure-control-group pure-u-sm-3-24 lnicont"
                     style="@{form.ptype.data != 'link' and 'display:none' or ''}">
                    <button id="graburl" class="pure-button">@{_('Grab title')}</button>
                </div>

                <div class="pure-control-group pocont" style="@{form.ptype.data != 'poll' and 'display:none' or ''}">
                    <label for="hideresults">@{_('Hide poll results until poll closes')}</label>
                    <input id="hideresults" name="hideresults" type="checkbox" value="y">
                </div>

                <div class="pure-control-group pocont" style="@{form.ptype.data != 'poll' and 'display:none' or ''}">
                    <label for="closetime">@{_('Close the poll at...')}</label>
                    <input id="closetime" name="closetime_chk" type="checkbox" value="">
                    <input id="closetime_date" name="closetime" type="text" class="date-picker-future" disabled>
                    <i>(local time)</i>
                </div>

                @if not sub or (sub and not sub.nsfw):
                <div class="pure-control-group">
                    @{form.nsfw.label()!!html}
                    @{form.nsfw()!!html}
                </div>
                @end

                @if captcha:
                <input type="hidden" name="ctok" value="@{captcha[0]}"/>
                <div class="pure-controls">
                    <img src="data:image/png;base64,@{captcha[1]}"/>
                </div>
                <div class="pure-control-group">
                    <label for="captcha">@{_('Captcha')}</label>
                    @{form.captcha(autocomplete="off", required=True)}
                </div>
                @end
                <div class="pure-controls">
                    <button onclick="window.sending=true;" type="submit" class="pure-button pure-button-primary"
                            style="display: inline-block">@{_('Submit post')}
                    </button>

                    <button type="button" data-pvid="ncme" class="pure-button btn-preview txicont" data-txid="content"
                            style="@{form.ptype.data != 'link' and 'display:none' or ''}">
                        @{_('Preview')}
                    </button>
                    <div class="cmpreview canclose" style="display:none;">
                        <h4>@{_('Post preview')}</h4>
                        <span class="closemsg">×</span>
                        <div class="cpreview-content"></div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
@end
