@extends("shared/layout.html")
@require(sub, logs, page)

@def content():
<div id="center-container">
    <div class="content">
        <h2>@{_('Sub log for <a href="%(url)s">/%(prefix)s/%(sub)s</a>', url=url_for('sub.view_sub', sub=sub.name), prefix=config.site.sub_prefix, sub=sub.name)!!html}</h2>
        <table class="pure-table">
            <thead>
            <tr>
                <th>@{_('Time')}</th>
                <th>@{_('User')}</th>
                <th>@{_('Action')}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @for log in logs:
            <tr>
                <td>
                    <time-ago datetime="@{log.time.isoformat()}Z">@{log.time.isoformat()}</time-ago>
                </td>
                <td>
                    @if log.uid:
                        @if log.uid.status != 10:
                            <a href="/u/@{log.uid.name}">@{log.uid.name}</a>\
                        @else:
                            @{_('[Deleted]')}
                        @end
                    @end
                </td>
                <td>
                    @if log.action == 20:
                        @{_('Created the sub')}
                    @elif log.action == 21:
                        @{_('Changed sub settings')}
                    @elif log.action == 22:
                        @{_('Banned <a href="/u/%(username)s">%(username)s</a> with reason <code>%(reason)s</code>', username=log.target.name, reason=e(log.desc))!!html}
                    @elif log.action == 23:
                        @{_('Unbanned <a href="/u/%(username)s">%(username)s</a>', username=log.target.name)!!html}
                    @elif log.action == 24:
                        @{_('Sent mod invite to <a href="/u/%(username)s">%(username)s</a>', username=log.target.name)!!html}
                    @elif log.action == 25:
                        @{_('Accepted mod invite')}
                    @elif log.action == 26:
                        @{_('Removed <a href="/u/%(username)s">%(username)s</a> from the mod team', username=log.target.name)!!html}
                    @elif log.action == 27:
                        @{_('Revoked mod invite for <a href="/u/%(username)s">%(username)s</a>', username=log.target.name)!!html}
                    @elif log.action == 28:
                        @{_('Mod invite declined by <a href="/u/%(username)s">%(username)s</a>', username=log.target.name)!!html}
                    @elif log.action == 29:
                        @{_('Edited the sub\'s stylesheet')}
                    @elif log.action == 30:
                        @{_('Sub was transferred to <a href="/u/%(username)s">%(username)s</a>', username=e(log.desc))!!html}
                    @elif log.action == 50:
                        @{_('Stickied a post')}
                    @elif log.action == 51:
                        @{_('Unstickied a post')}
                    @elif log.action == 52:
                        @{_('Deleted a post with reason <code>%(desc)s</code>', desc=e(log.desc))!!html}
                    @elif log.action == 53:
                        @{_('Deleted a comment with reason <code>%(desc)s</code>', desc=e(log.desc))!!html}
                    @else:
                        <i>@{_('[Type %(type)i]', type=log.action)!!html}</i> @{log.desc}
                    @end
                </td>
                <td>
                    @if log.link:
                        <a href="@{log.link}">@{_('Link')}</a> \
                    @end
                </td>
            </tr>
            @end
            </tbody>
        </table>
        @if page > 1:
        <a href="@{url_for('sub.view_sublog', sub=sub.name, page=(page-1))}" class="btn">@{_('Previous page')}</a>
        @end

        @if len(logs) == 50:
        <a href="@{url_for('sub.view_sublog', sub=sub.name, page=(page+1))}" class="btn">@{_('Next page')}</a>
        @end
    </div>
</div>
@end