@require(post, comments, subInfo, subMods, highlight)
@def renderComments(post, subInfo, subMods, comments, highlight=''):
  @#ignore
  @for comment in comments:
    @if comment['cid']:
      <article id="@{comment['cid']}" data-cid="@{comment['cid']}" class="commentrow @{(comment['cid'] == highlight) and 'highlight ' or ''}@{(comment.get('hl')) and 'active' or ''} text-post no-padding comment">
        <div id="comment-@{comment['cid']}">
          <div class="pull left votecomment" @{(comment['status'] == 1) and 'style="display:none;"' or ''}>
            @if comment['userstatus'] != 10:
              <div title="@{_('Upvote')}" class="c-upvote @{(comment.get('positive') == True) and 'upvoted' or ''}" data-pid="@{post['pid']}" data-icon="upvote"></div>
              <div title="@{_('Downvote')}" class="c-downvote @{(comment.get('positive') == False) and 'downvoted' or ''}" data-pid="@{post['pid']}" data-icon="downvote"></div>
            @end
          </div>
          <div class="commblock">
            <div class="commenthead">
              <a class="togglecomment @{(comment['status'] == 1) and 'expand' or 'collapse'}" data-cid="@{comment['cid']}">
                @{(comment['status'] == 1) and '[+]' or '[–]'} \
              </a>
              @if comment['status'] != 1:
                @if comment['userstatus'] == 10:
                  <a class="poster deleted">[Deleted]</a>
                @else:
                  <a href="/u/@{comment['user']}" class="poster">
                    @{comment['user']}
                    @if comment['user'] == post['user']:
                      <span class="op-tag">@{_('[OP]')}</span>
                    @end
                  </a>
                @end
              @else:
                <a class="poster deleted">[Deleted]</a>
              @end
              <b>@{_('<span class="cscore">%(score)i</span> points</b> (+<b>%(upvotes)i</b>|-<b>%(downvotes)i</b>)', score=comment['score'], upvotes=comment['upvotes'], downvotes=comment['downvotes'])!!html}
              <span class="time ">
                  <time-ago datetime="@{comment['time'].isoformat()}Z"></time-ago>
              </span>
              @if comment['lastedit'] and comment['status'] != 1:
                <span class="time edited">
                  @{_('Edited %(timeago)s', timeago='<time-ago datetime="' + comment['lastedit'].isoformat() + 'Z"></time-ago>')!!html}<br/>
                </span>
              @end
            </div>

            <div class="content" id="content-@{comment['cid']}" @{(comment['status'] == 1) and 'style="display:none;"' or ''}>
              @if comment['status'] == 1:
                @{_('[Deleted]')} \
              @else:
                @{comment['content']!!html}
              @end
            </div>
            
            @if comment['status'] != 1:
              <div hidden id="sauce-@{comment['cid']}">@{comment['source']}</div>
            @end
            <ul class="bottombar links" @{(comment['status'] == 1) and 'style="display:none;"' or ''}>
              <li><a href="@{url_for('sub.view_perm', sub=post['sub'], cid=comment['cid'], pid=post['pid'])}#comment-@{comment['cid']}">@{_('permalink')}</a></li>
              @if current_user.is_authenticated and not post['deleted']:
                @if not current_user.is_subban(post['sid']):
                  <li><a class="reply-comment" data-pid="@{comment['pid']}" data-to="@{comment['cid']}">@{_('reply')}</a></li>
                @end
                @if comment['uid'] == current_user.uid and not comment['status'] == 1:
                  <li><a class="edit-comment" data-cid="@{comment['cid']}">@{_('edit')}</a></li>
                @end
                @if (comment['uid'] == current_user.uid or current_user.is_admin() or current_user.uid in subMods['all']) and not comment['status'] == 1:
                  <li><a @{(comment['uid'] == current_user.uid) and 'selfdel="true"' or ''} class="delete-comment" data-cid="@{comment['cid']}">@{_('delete')}</a></li>
                @end
                <a data-ac="report" cid="@{comment['cid']}" class="report-comment">@{_('report')}</a>
              @end
              @if comment['status'] != 1:
                <li><a class="comment-source" data-cid="@{comment['cid']}">@{_('source')}</a></li>
              @end
            </ul>
          </div>
        </div>
        <div id="child-@{comment['cid']}" class="pchild" @{(comment['status'] == 1) and 'style="display:none;"' or ''}>
          @if comment['children']:
            @{renderComments(post, subInfo, subMods, comment['children'], highlight)!!html}
          @end
        </div>
      </article>
    @else:
        <a href="#" class="loadsibling" data-pid="@{post['pid']}" data-key="@{comment.get('key', '')}" data-pcid="@{comment['pcid']}">
        @if comment['more'] > 1:
          @{_('Load more (%(amt)i comments)', amt=comment['more'])}
        @else:
          @{_('Load more (1 comment)')}
        @end
        </a>
    @end 
  @end
@end

@{renderComments(post, subInfo, subMods, comments, highlight)!!html}}