@extends("shared/layout.html")
@require(post, sub, is_saved, subInfo, pollData, commentform, comments, postmeta, subMods, highlight)
@import "sub/postcomments.html" as pcomm
@import "sub/postpoll.html" as polls


@def title():
  @{post['title']} |\
@end

@def meta_description():

    @if post['content']:
        <meta name="description" content="@{''.join(BeautifulSoup(markdown(post['content'])).findAll(text=True)).replace('\n', ' ')}"/>
    @else:
        <meta name="description" content="@{sub['title']}" />
    @end

    <meta property="og:site_name" content="@{config.site.lema}">
    <meta property="og:description" content="@{_('Posted in %(prefix)s/%(sub)s by %(username)s', prefix=config.site.sub_prefix, sub=sub['name'], username=post['user'])}">
    <meta property="og:title" content="@{post['title']}">
    @if post['thumbnail'] != '' and post['link'] != None:
    <meta property="og:image" content="@{config.storage.thumbnails.url}@{post['thumbnail']}">
    <meta property="og:ttl" content="600">
    <meta property="og:image:height" content="70">
    <meta property="og:image:width" content="70">
    @end
@end

@def sidebar():
<hr>
  <div class="author" style="padding:.5em;">
    @{_('Posted %(timeago)s by %(user)s', timeago='<time-ago datetime="' + post['posted'].isoformat() + 'Z"></time-ago>', user='<a class="authorlink" href="/u/' + post['user'] + '">' + post['user'] + '</a>' if post['userstatus'] != 10 else '<a class="authorlink deleted">' + _('[Deleted]') + '</a>')!!html}
    <br/>
    @if post['edited']:
      @{_('edited %(timeago)s', timeago='<time-ago datetime="' + post['edited'].isoformat() + 'Z"></time-ago>')!!html}<br/>
    @end
    @{_('Score: %(score)i <b>(+%(upvotes)i|-%(downvotes)i)</b>', score=post['score'], upvotes=post['upvotes'], downvotes=post['downvotes'])!!html}
  </div>
<hr>
  @include('shared/sidebar/sub.html')
@end

@def main():
<div class="wholepost">
  <div class="postbar post" pid="@{post['pid']}">
    <div class="misctainer">
      <div class="votebuttons">
        @if post['userstatus'] != 10 and (datetime.datetime.utcnow() - post['posted'].replace(tzinfo=None)) < datetime.timedelta(days=60):
          <div title="@{_('Upvote')}" class="upvote @{(post.get('positive') == 1) and 'upvoted' or ''}" data-pid="@{post['pid']}" data-icon="upvote"></div>
          <div class="score">@{post['score']}</div>
          <div title="@{_('Downvote')}" class="downvote @{(post.get('positive') == 0) and 'downvoted' or ''}" data-pid="@{post['pid']}" data-icon="downvote"></div>
        @else:
          <div class="score archived">@{post['score']}</div>
        @end
      </div>
      <div class="thcontainer">
        <a class="title">
          <div class="thumbnail">
            @if post['thumbnail'] != '' and post['link'] != None:
              <img src="@{config.storage.thumbnails.url}@{post['thumbnail']}"/>
            @elif post['link'] != None:
              <span class="placeholder" data-icon="link"></span>
            @else:
              <span class="placeholder" data-icon="chat"></span>
            @end
          </div>
        </a>
      </div>
    </div>
    <div class="postinfo" id="postinfo" pid="@{post['pid']}">
      <div class="post-heading">
        @if post['nsfw'] or sub['nsfw']:
          <div class="nsfw" alt="@{_('Not safe for work')}">@{_('NSFW')}</div>
        @end

        @if post['flair']:
          <span class="postflair">@{post['flair']}</span>
        @end

        @if post['link'] == None:
          <h1><a href="@{url_for('sub.view_post', sub=sub['name'], pid=post['pid'])}" class="title">@{post['title']}</a></h1>
        @else:
          <h1><a rel="noopener nofollow ugc" href="@{(post['deleted'] == 0) and post['link'] or '#'}" class="title">@{post['title']}</a></h1>
          @if post['deleted'] == 0:
            <a href="/domain/@{func.getDomain(post['link'])}" class="domain">(@{func.getDomain(post['link'])})</a>
          @end
        @end
      </div>
      <ul class="links" data-pid="@{post['pid']}">
        @if post['link']:
          @if func.getDomain(post['link']) in ('youtube.com', 'www.youtube.com', 'youtu.be', 'gfycat.com', 'streamja.com', 'streamable.com', 'vimeo.com', 'vine.co', 'hooktube.com', 'www.hooktube.com', 'instaud.io'):
            <li><div class="expando" data-pid="@{post['pid']}" data-t="lnk" data-link="@{post['link']}"><div class="icon expando-btn" data-icon="play"></div></div></li>
          @elif post['link'].lower().endswith(('.png', '.jpg', '.gif', '.tiff', '.bmp', '.jpeg')):
            <li><div class="expando" data-pid="@{post['pid']}" data-t="lnk" data-link="@{post['link']}"><div class="icon expando-btn" data-icon="image"></div></div></li>
          @elif post['link'].lower().endswith(('.mp4', '.webm', '.gifv')):
            <li><div class="expando" data-pid="@{post['pid']}" data-t="lnk" data-link="@{post['link']}"><div class="icon expando-btn" data-icon="play"></div></div></li>
          @end
        @end
        @if current_user.is_authenticated and post['deleted'] == 0:
          @if post['content']:
            <li><a class="post-source">source</a></li>
          @end

          @if is_saved:
            <li><a class="removesavedpost" data-pid="@{post['pid']}">@{_('unsave')}</a></li>
          @else:
            <li><a class="savepost" data-pid="@{post['pid']}">@{_('save')}</a></li>
          @end
          @if (subInfo.get('ucf', 0) == 1 and current_user.uid == post.uid) or current_user.uid in subMods['all']:
            <li><a class="editflair">@{_('flair')}</a></li>
          @end
          @if post['uid'] == current_user.uid:
            @if post['ptype'] != 1:
              <li><a class="edit-post" data-pid="@{post['pid']}">@{_('edit')}</a></li>
            @end
            @if (datetime.datetime.utcnow() - post['posted'].replace(tzinfo=None)) < datetime.timedelta(seconds=config.site.title_edit_timeout):
              <li><a class="edit-title" data-pid="@{post['pid']}">@{_('edit title')}</a></li>
            @end
          @end

          @if post['uid'] == current_user.uid or current_user.is_admin() or current_user.uid in subMods['all']:
            <li id="delpostli"><a @{(post['uid'] == current_user.uid) and 'selfdel="true"' or ''} class="delete-post"> @{_('delete')} </a></li>

            @if not sub['nsfw']:
              @if not post['nsfw']:
                <li><a class="nsfw-post"> @{_('tag as nsfw')} </a></li>
              @else:
                <li><a class="nsfw-post"> @{_('remove nsfw')} </a></li>
              @end
            @end
          @end

          @if post['deleted'] == 0 and post['ptype'] == 3 and pollData['poll_open'] and (post['uid'] == current_user.uid or current_user.is_admin() or current_user.uid in subMods['all']):
              <li><a class="poll-close"> @{_('close poll')} </a></li>
          @end

          @if current_user.uid in subMods['all']:
            @if str(post['pid']) in subInfo['sticky']:
              <li><a class="stick-post">@{_('unstick')}</a></li>
            @else:
              <li><a class="stick-post">@{_('make sticky')}</a></li>
            @end

            @if str(post['pid']) == subInfo['wiki']:
              <li><a class="wiki-post">@{_('remove wiki')}</a></li>
            @else:
              <li><a class="wiki-post">@{_('make wiki')}</a></li>
            @end
            @if post['sub'] == 'announcements' and current_user.is_admin():
              @if not func.getAnnouncement() or func.getAnnouncement()['pid'] != post['pid']:
                <li><a class="announce-post">@{_('make announcement')}</a></li>
              @end
            @end
          @end
          <li><a data-ac="report" class="report-post">@{_('report')}</a></li>
        @end
      </ul>
    </div>
  </div>

  @if (subInfo.get('ucf', 0) == 1 and current_user.uid == post.uid) or current_user.uid in subMods['all']:
    <div style="display:none;" id="postflairs">
      <span class="closemsg">×</span>
      @if post['flair']:
        <div>@{_('Current flair: <span class="postflair">%(flair)s</span>.', flair=e(post['flair']))} <a data-sub="@{post['sub']}" data-pid="@{post['pid']}" href="#" id="remove-flair">@{_('Remove')}</a>.</div>
      @end
      <h4>@{_('Select a new flair')}</h4>
      @for ll in func.getSubFlairs(post['sid']):
        <span class="selflair" data-sub="@{post['sub']}" data-flair="@{ll.xid}" data-pid="@{post['pid']}">@{ll.text}</span>
      @end
    </div>
  @end

  @if post['deleted'] == 0 and post['ptype'] == 3:
    @{polls.renderPoll(pollData, postmeta, post)!!html}
  @end

  @if post['content']:
    @if post['deleted'] == 0:
      <div id="postcontent">
        @{markdown(post['content'])!!html}
      </div>
      <div id="post-source">@{post['content']}</div>
    @else:
      <div class="deleted">@{_('[deleted]')}</div>
    @end
  @elif not post['link']:
    <div id="postcontent"></div>
    <div id="post-source"></div>
  @end


  @if current_user.is_authenticated and post['deleted'] == 0 and not current_user.is_subban(sub):
  <form data-reset="true" data-redir="true" action="@{url_for('do.create_comment', pid=post['pid'])}" id="rcomm-0" class="comment-form ajaxform static pure-form">
    @{commentform.csrf_token()!!html}
    @{commentform.post(value=post['pid'])!!html}
    @{commentform.parent(value='0')!!html}
    <div class="markdown-editor" id="ncme">
      @{commentform.comment(id="comment2", placeholder=commentform.comment.label.text, rows="6")!!html}
    </div>
    <div class="div-error error alertbox"></div>
    <button type="submit" class="pure-button pure-button-primary btn-postcomment" data-cid="0" data-pid="@{post['pid']}">@{_('Submit comment')}</button>
    <button data-pvid="ncme" class="pure-button btn-preview">@{_('Preview')}</button>
    <div class="cmpreview canclose" style="display:none;">
      <h4>@{_('Comment preview')}</h4>
      <span class="closemsg">×</span>
      <div class="cpreview-content"></div>
    </div>
  </form>
  @end

  @if len(comments) == 0:
    <div class="comments"><h3 id="cmnts">@{_('No comments, yet...')}</h3></div>
  @else:
    <div class="comments">
      <h2 id="cmnts"><a href="@{url_for('sub.view_post', sub=sub['name'], pid=post['pid'])}">@{_('%(comments)i comments', comments=post['comments'])}</a></h2>
      @{pcomm.renderComments(post, subInfo, subMods, comments, highlight)!!html}
    </div>
  @end


</div>

@end

@def pagefoot():

  @if not current_user.block_styles():
    <style>@{subInfo['stylesheet']}</style>
  @end
@end
