@extends("shared/layout.html")
@require(codes, avail)
@def sidebar():
  @include('shared/sidebar/user.html')
@end

@def main():
<div id="container">
  <h1>@{_('Invite codes')}</h1>
  @if avail > 0:
    @{_('You can create <b>%(num)i</b> invite codes.', num=avail)}
    <a href="/do/create_invite" class="pure-button pure-button-primary">@{_('Create new')}</a>
  @else:
    @{_('You cannot create invite codes.')}
  @end
  <hr/>
  <h2>@{_('Your invite codes')}</h2>
  <table class="invitecodes">
    <thead>
      <tr>
        <th>@{_('Created')}</th>
        <th>@{_('Code')}</th>
        <th>@{_('Expires')}</th>
        <th>@{_('Uses')}</th>
        <th>@{_('Max uses')}</th>
      </tr>
    </thead>
    <tbody>
      @for code in codes:
      <tr class="@{(code.uses >= code.max_uses or (code.expires is not None and code.expires < datetime.datetime.utcnow())) and 'expired' or ''}">
        <td>
          <time-ago datetime="@{code.created.isoformat()}Z">@{code.created.isoformat()}</time-ago>
        </td>
        <td>
          @{code.code}
        </td>
        <td>
          @if code.expires:
            <time-until datetime="@{code.expires.isoformat()}Z">@{code.expires.isoformat()}</time-until>\
          @else:
            @{_('N/A')}
          @end
         
        </td>
        <td>
          @{code.uses}
        </td>
        <td>
          @{code.max_uses}
        </td>
      </tr>
      @end
    </tbody>
  </table>

</div>
@end
