@extends("shared/layout.html")
@require(form)
@def sidebar():
  @include('shared/sidebar/user.html')
@end

@def main():
<div id="container">
  <h1>@{_('Change password')}</h1>
  <form  method="POST" id="edit-user-form" data-refresh='true'  action="@{url_for('do.edit_user_password')}" class="ajaxform pure-form pure-form-aligned">
    @{form.csrf_token()!!html}
    <fieldset>
      <div class="pure-control-group">
        <label for="password">@{form.password.label.text}</label>
        @{form.password(placeholder=form.password.label.text, required=True, autocomplete="off")!!html}
      </div>
      <div class="pure-control-group">
        <label for="confirm">@{form.confirm.label.text}</label>
        @{form.confirm(placeholder=form.confirm.label.text, required=True, autocomplete="off")!!html}
      </div>
      <hr>
      <div class="pure-control-group">
        <label for="oldpassword">@{form.oldpassword.label.text}</label>
        @{form.oldpassword(placeholder=form.oldpassword.label.text, required=True, autocomplete="off")!!html}
      </div>
      <div class="alert div-error"></div>
      <button type="submit" class="pure-button pure-button-primary" id="edituser-btnsubmit" data-prog="@{_('Editing...')}" data-success="@{_('Saved!')}">@{_('Save')}</button>
    </fieldset>
  </form>

</div>
@end
